@import url('https://fonts.googleapis.com/css?family=Droid+Serif');


* {
  font-family: Georgia, serif;
}

body {
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

#header {
  padding: 10px 0;
}

#header h1 {
  font-family: 'Droid Serif', Georgia, serif;
}

#header hr {
  border-color: #eee;
  border-size: 1px;
}

.constraint {
  margin: 0 auto;
  width: 1000px;
}

.g-form, .g-form input {
  font-size: 1.5em;
}

.g-form input[type=text] {
  width: 100%;
}

.g-form textarea {
  font-size: 1.3em;
  width: 100%;
  min-height: 150px;
}

.g-form input, .g-form textarea {
  border: 2px solid #ddd;
}

.g-form input:active, .g-form textarea:active, .g-form input:focus, .g-form textarea:focus {
  border: 2px solid #779;
}

form .formelem {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

form input[type=submit] {
  margin-top: 20px;
  float: right;
}
